<nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link"  (click)="prevPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pagesArray" >
        <a class="page-link"  (click)="onPageChange(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link"  (click)="nextPage()" aria-label="Next">
          <span class="sr-only">Next</span>      
          <span >>></span>
           </a>
      </li>
    </ul>
  </nav>
  